MixpanelStaticLibrary/DerivedData
MixpanelStaticLibrary/build
MixpanelBindingsClassic/obj
MixpanelBindingsClassic/bin
MixpanelBindings/obj
MixpanelBindings/bin
*.swp
MixpanelAndroid/bin
MixpanelAndroid/obj
/MixpanelAndroid/MixpanelAndroid.csproj.user
/MixpanelBindings.v12.suo
*.nupkg
*.xccheckout
*.xcuserstate
/MixpanelStaticLibrary/Mixpanel.xcodeproj/project.xcworkspace/xcuserdata/iben.xcuserdatad/WorkspaceSettings.xcsettings
*.DS_Store
/MixpanelStaticLibrary/Mixpanel.xcodeproj/xcuserdata/iben.xcuserdatad/xcschemes/Mixpanel.xcscheme
/MixpanelStaticLibrary/Mixpanel.xcodeproj/xcuserdata/iben.xcuserdatad/xcschemes/xcschememanagement.plist
*.userprefs
